@model IEnumerable<EcommerceMod1.Models.City>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de cidades</h2>

<p>
    @Html.ActionLink("Nov cidade", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.LabelForModel("Departamento")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>Ação</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Departaments.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.CityId }  , new{@class = "btn btn-primary"}) |
                @Html.ActionLink("Detahes", "Details", new { id = item.CityId} , new {@class= "btn btn-info"} ) |
                @Html.ActionLink("Deletar", "Delete", new { id = item.CityId } , new {@class ="btn btn-danger"})
            </td>
        </tr>
    }

</table>
