@model IEnumerable<EcommerceMod1.Models.Departaments>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de departamentos</h2>


<p>
    @Html.ActionLink("Novo departamento", "Create" , new {}, new { @class = "btn btn-primary"  })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>Ação</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.DepartamentsId }, new{@class = "btn btn-primary"}  ) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.DepartamentsId }, new {@class = "btn btn-info" }) |
            @Html.ActionLink("Deletar", "Delete", new { id=item.DepartamentsId }, new {@class = "btn btn-danger"})
        </td>
    </tr>
}

</table>
